spring:
  application:
    name: threadly-chat
  data:
    mongodb:
      database: threadly_chat_db
      host: ${SPRING_DATA_MONGODB_HOST:localhost}
      port: ${SPRING_DATA_MONGODB_PORT:27017}
      authentication-database: admin
server:
  port: 8080

push:
  vapid:
    public-key: ${PUSH_VAPID_PUBLIC_KEY:BDTNP0HsKMQCh2-_pqH7u19OHCEHEjs8yly2Tcj6fEnBXHSBG-cgff4VWyzpwVK2aCN4EqKYiue9jUVupxdvEng}
    private-key: ${PUSH_VAPID_PRIVATE_KEY:iErgX_vQ0JfOOCYuyS6sAp5VhT5R3cBBeEupHLyIBks}
    subject: ${PUSH_VAPID_SUBJECT:mailto:admin@example.com}